:root {
    --background-color: rgb(190, 190, 179);
    --primary-font: 'Space Grotesk', sans-serif;
    --secondary-font: 'Noto Serif', sans-serif;
    --font-color: black;
    --sections-list-border:solid #00000010;
}

a {
    text-decoration: none;
    color: inherit;
}

.paper{
    background-color: rgb(250, 250, 249);
}
.paper h1{
    font-family: 'Noto Serif', sans-serif;
}
.paper h2{
    font-family: 'Space Grotesk', sans-serif;
}

.computer-misuse-act-1990{
    background-color: rgb(0, 0, 0);
    color: rgb(103, 253, 103);
    font-family: 'JetBrains Mono', monospace;
}
.computer-misuse-act-1990 h1{
    font-family: 'JetBrains Mono', monospace;
}

.computer-misuse-act-1990 h1{
    font-family: 'JetBrains Mono', monospace;
}

body{
    margin: 0px;
}
.title{
    margin-top:10px;
}
.subtitle{
    margin-bottom:16px;
}
.preview{
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}