:root {
    --background-color: rgb(250, 250, 249);
    --primary-font: 'Work Sans', sans-serif;
    --secondary-font: 'Unbounded', sans-serif;
    --font-color: black;
    --sections-list-border:solid #00000010;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0px;
}
.title{
    margin-top:10px;
}
.subtitle{
    margin-bottom:16px;
}
.preview{
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 5.5%;
    padding-right: 5.5%;
    
}
h1 + h3 { margin-top: -20px; }