:root {
    --background-color: rgb(255, 255, 255);
    --primary-font: 'Figtree', sans-serif;
    --secondary-font: 'Figtree', sans-serif;
    --font-color: rgb(21, 20, 19);
    --sections-list-border:solid #00000010;
    --databases-background-color: rgb(255, 255, 255);
    --databases-primary-font: 'Figtree', sans-serif;
    --databases-secondary-font: 'Figtree', sans-serif;
    --databases-font-color: rgb(21, 20, 19);
}

body{
    font-weight: 500;
    line-height: 1.5;
}

h1{
    margin-block-end: 0.2em;
}

.sectionslist a:hover {
    text-decoration: underline;
}

.togglesections{
    color: var(--font-color);
}

::selection {
    background:rgba(130, 130, 130, 0.25);
}

a{
    color: rgb(21, 20, 19)
}

e{
    font-style: italic;
}